SECRET_KEY = '{{seafile_secret_key}}'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.{{seafile_db_names.seahub}}',
        'NAME': '{{config.database.names.seahub}}',
        'USER': '{{config.database.user}}',
        'PASSWORD': '{{seafile_db_password}}',
        'HOST': '{{config.database.host}}',
        'PORT': '{{config.database.port}}',
        {% if config.database.type == 'mysql' %}
        'OPTIONS': {
            'init_command': 'SET storage_engine=INNODB',
        }
        {% endif %}
    }
}

{% if config.frontend is defined %}
FILE_SERVER_ROOT = "{{config.ccnet.protocol|default('http')}}://{{config.ccnet.host}}/seafhttp"
{% endif %}

# Enable or disable make group public
{% if config.seahub.enable_public_group %}
ENABLE_MAKE_GROUP_PUBLIC = True
{% else %}
ENABLE_MAKE_GROUP_PUBLIC = False
{% endif %}

EMAIL_HOST = '{{config.seahub.smtp.host}}'
EMAIL_PORT = '{{config.seahub.smtp.port}}'
DEFAULT_FROM_EMAIL = '{{config.seahub.smtp.from_email}}'
SERVER_EMAIL = '{{config.seahub.smtp.from_email}}'
